<?xml version="1.0" encoding="utf-8"?>
<Dodoni.net>
  <MathLibraries>
    <LAPACK>
      <AssemblyName>Dodoni.MathLibrary.Basics.LowLevel.Native.LapackNativeWrapper, Dodoni.MathLibrary.Native.LAPACK, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null</AssemblyName>
      <TypeName>Dodoni.MathLibrary.Basics.LowLevel.Native.LapackNativeWrapper</TypeName>
    </LAPACK>
  </MathLibraries>
</Dodoni.net>